{% extends "app/layout.html" %}

{% block content %}
<form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <table class="order_table">
        <tr>
            <thead>
                <td class="order_header_cell">SKU</td>
                <td class="order_header_cell">Item</td>
                <td class="order_header_cell">Vendor</td>
                <td class="order_header_cell">Paid?</td>
                <td class="order_header_cell">Ordered</td>
                <td class="order_header_cell">Arrived</td>
                <td class="order_header_cell">Fulfilled</td>
            </thead>
        </tr>
    {% for item in filter %}
        <tr>
            <td class="order_cell">{{ item.item_sku }}</td>
            <td class="order_cell">{{ item.item_descr }}</td>
            <td class="order_cell">{{ item.item_vendor }}</td>
            <td class="order_cell">{{ item.item_paid }}</td>
            <td class="order_cell">{{ item.item_ordered }}</td>
            <td class="order_cell">{{ item.item_arrived }}</td>
            <td class="order_cell">{{ item.item_picked_up }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
