{% extends "app/layout.html" %}

{% block content %}

{% if errors %}
    <p><strong> Errors were found...</strong></p>
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <form action="{% url 'neworder' %}" method="post">
    {% csrf_token %}
    <label for="order_contact_name">Name: </label>
    <input type="text" name="order_contact_name" id="order_contact_name" value="{{ resub_order_info.order_contact_name }}" maxlength="55" /><br />
    <label for="order_contact_phone">Phone Number: </label>
    <input type="tel" name="order_contact_phone" id="order_contact_phone" value="{{ resub_order_info.order_contact_phone }}" /><br />
    <label for="order_contact_email">Email Address: </label>
    <input type="email" name="order_contact_email" id="order_contact_email" value="{{ resub_order_info.order_contact_email }}" /><br />
    {{ item_formset.management_form }}
    <table>
    	<tr>
            <th>SKU</th>
            <th>Item Description</th>
            <th>Vendor</th>
            <th>Quantity</th>
            <th>Paid?</th>
        </tr>
    {% for form in item_formset %}
    	<tr>
    		<td> {{ form.item_sku }}</td>
    		<td>{{ form.item_descr }}</td>
    		<td>{{ form.item_vendor }}</td>
    		<td>{{ form.item_qty }}</td>
    		<td>{{ form.item_paid }}</td>
    	</tr>	
    {% endfor %}
    </table>	
    <input type="submit" value="Submit" name="submit"/><input type="submit" value="Add More Items" name="add" />
    }
</form>


{% endblock %}
